################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TRPO-LR6.slnx/FileContentIndex/68f926ed-38e3-4e39-869e-a50b2a8245b4.vsidx
